.combo-box {
    padding-left: 16px;
    padding-right: 12px;
    border: 1px solid #BBBBBB;
    height: 40px;
    border-radius: 4px;
    font-size: 13px;
    color: #000000;
    cursor: pointer;
    background-color: #fff;

    position: relative;
    display: flex;
    align-items: center;

    user-select: none;
}

.combo-box--focus {
    border-color: #019160 !important;
}

.combo-box--error {
    border-color: #FF4747;
}

.combo-box:focus {
    outline: none;
    border-color: #019160;
}

.combo-box .combo-box__text {
    border: none;
    width: 270px;
    height: 100%;
    font-size: 13px;
    font-family: GoogleSans-Regular;
}

.combo-box .combo-box__text:focus {
    border: none;
    outline: none;
}

.combo-box .collapse {
    max-height: 200px;
    overflow: auto;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: white;
    border-radius: 4px;
    z-index: 10;
    width: 100%;
    box-shadow: 2px 2px 3px #E9EBEE;
    padding: 5px 0 5px 0;
}

.combo-box.combo-box--up .collapse {
    transform: translateY(calc(-100% - 55px));
}

.combo-box.combo-box--up .combo-box__icon {
    transform: rotate(180deg);
    border-right: 1px solid #bbb;
    border-left: 0;
}

.combo-box.combo-box--up .rotate {
    transform: rotate(0deg);
    border-left: 1px solid #bbb;
    border-right: 0;
}

.combo-box .collapse::-webkit-scrollbar {
    width: 2px;
}

.combo-box .combo-box__item {
    z-index: 10;
    line-height: 40px;
    height: 40px;
    width: 100%;
    font-size: 13px;
}

.combo-box .combo-box__item:hover {
    background-color: #E9EBEE;
}

.combo-box .combo-box__item:focus {
    background-color: #E9EBEE;
    outline: none;
}

.combo-box .combo-box__icon {
    position: absolute;
    right: 0px;
    font-size: 16px;
    height: 38px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    border-left: 1px solid #bbb;
}

.combo-box .combo-box__item .icon-left {
    padding: 0px 10px;
    opacity: 0;
}

.combo-box .combo-box__item--selected{
    color: white;
    background-color: #019160;
}

.combo-box .combo-box__item--selected .icon-left {
    opacity: 1;
}

.combo-box .combo-box__item--selected:focus{
    color: #019160;
}

.combo-box .combo-box__item--focus {
    color: #000;
    background-color: #E9EBEE;
    outline: none;
}

.combo-box .combo-box__item--show {
    display: block;
}

.combo-box .combo-box__item--hide {
    display: none;
}

.combo-box .combo-box__item--selected:focus .icon-left {
    color: #019160;
}

.combo-box .rotate {
    transform: rotate(180deg);
    border-right: 1px solid #bbb;
    border-left: 0;
}