.dropdown {
    padding-left: 16px;
    padding-right: 12px;
    border: 1px solid #BBBBBB;
    height: 40px;
    border-radius: 4px;
    size: 13px;
    color: #000000;
    cursor: pointer;

    position: relative;
    display: flex;
    align-items: center;

    user-select: none;
}

.dropdown:focus {
    outline: none;
    border-color: #019160;
}

.dropdown:hover {
    border-color: #019160;
}

.dropdown-text {
    size: 13px;
    /* color: #000000; */
}

.dropdown .collapse {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: white;
    border-radius: 4px;
    z-index: 10;
    width: 100%;
    box-shadow: 2px 2px 3px #E9EBEE;
    padding: 5px 0 5px 0;
}

.dropdown .dropdown-item {
    z-index: 10;
    line-height: 40px;
    height: 40px;
    width: 100%;
    size: 13px;
}

.dropdown .dropdown-item:hover {
    background-color: #E9EBEE;
}

.dropdown .dropdown-item:focus {
    background-color: #E9EBEE;
    outline: none;
}

.dropdown .icon-right {
    position: absolute;
    right: 16px;
    font-size: 16px;
}

.dropdown .dropdown-item .icon-left {
    padding: 0px 10px;
    opacity: 0;
}

.dropdown .dropdown-item--selected{
    color: white;
    background-color: #019160;
}

.dropdown .dropdown-item--selected .icon-left {
    opacity: 1;
}

.dropdown .dropdown-item--selected:focus{
    color: #019160;
}

.dropdown .dropdown-item--selected:focus .icon-left {
    color: #019160;
}

.dropdown .rotate {
    transform: rotate(180deg);
}