.modal {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px 0;
    overflow: auto;
    z-index: 999;
}

.info-form {
    margin: auto;
    background-color: white;
    overflow: auto;
    width: 845px;
    border-radius: 4px;
    position: relative;
}

.info-form:hover {
    box-shadow: 2px 2px 5px #888888;
}

/*
*
*  CSS Header of form
*
*/


.info-form .close {
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.form__header {
    margin-left: 24px;
    margin-top: 24px;
}


/* 
*   CSS form body 
*/

.info-form .form__body {
    display: flex;
}

.info-form .content__header {
    position: relative;
    text-transform: uppercase;
}

.info-form .content__header::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 80px;
    height: 4px;
    background-color: #019160;
}

/* 
*   CSS form left - avatar 
*/

.info-form .avatar {
    width: 500px;
    text-align: center;
    margin-left: 24px;
    margin-top: 8px;
}

.info-form .avatar-image {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #bbb;
    border-radius: 50%;
    margin: auto;
}

.info-form .avatar-announce {
    font-size: 13px;
}

/* 
*   CSS form right - input 
*/

.info-form .form__body .area .form__input {
    display: flex;
    flex-wrap: wrap;
}

.info-form .form__body .area .form__input .dropdown {
    width: 300px;
}

.info-form .form__body .area .form__input .form__field-input input:not(.combo-box__text) {
    width: 300px;
}

.info-form .form__body .area .form__input .form__field-input .combo-box__text {
    width: 270px;
}

.info-form .form__body .area .form__input .form__field-input .combo-box__icon {
    display: block;
}

.info-form .form__body .area .content__header {
    text-transform: uppercase;
}

.info-form .form__body .area .form__input .form__field-input,
.info-form .form__body .area .content__header {
    margin: 8px 16px;
}

/* 
*   CSS form footer 
*/

.form__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px;
    background-color: #eee;
    height: 60px;
}

.form__footer #cancel,
.form__footer #submit {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    width: 100px;
}
