.field {
    position: relative;
    display: flex;
    align-items: center;
    border-width: 1px;
    border-radius: 4px;
    height: 40px;
    color: #BBBBBB;
    border-style: solid;
    font-size: 12px;
}

.field .input-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-left: 16px;
}

.field > input {
    border: 0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.field > input::placeholder {
    font-size: 12px;
}

.field input:focus{
    outline: none;
}

.field--focus {
    border: 1px solid #019160;
    font-size: 13px;
    color: #000000;
}

.field-label .field--error {
    border: 1px solid #FF4747;
}

.field-label{
    position: relative;
}

.field-label .label {
    font-size: 13px;
    color: #000000;
    font-weight: medium;
    padding-bottom: 4px;
}

.field-label input {
    border: 1px solid #bbb;
    border-radius: 4px;
    height: 40px;
    padding-right: 8px;
}

.field-label .field__input {
    padding-left: 16px;
}


.field-label input::placeholder {
    font-size: 11px;
}

.field-label input:focus {
    border: 1px solid #019160;
    border-radius: 4px;
    outline: none;
    font-size: 13px;    
    color: #000000;
}

.field > .icon-right {
    cursor: pointer;
    display: none;
    /* opacity: 0; */
    font-size: 13px;
    margin-right: 8px;
    background-position: center;
    z-index: 99;
}

.field-label > .icon-right {
    cursor: pointer;
    display: none;
    /* opacity: 0; */
    height: 16px;
    width: 13px;
    position: absolute;
    right: 10px;
    top: 32px;
}

.field-label #salary {
    text-align: right;
    padding-right: 40px;
}

.field-label .currency {
    position: absolute;
    font-size: 12px;
    font-style: italic;
    top: 34px;
    right: 40px;
    z-index: 0;
}

/*Remove default icon in input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/* CSS Warning */

.input-warning {
    /* opacity: 0; */
    display: none;
    font-family: GoogleSans-Light;
    position: absolute;
    top: -62px;
    left: 85px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: #FF4747;
    height: 80px;
    width: 200px;
    border-radius: 8px;
    color: white;
    transition: all 1s;
}

.input-warning i {
    position: absolute;
    color: #FF4747;
    top: 64px;
    left: 100px;
    font-size: 36px;
}
