.text-heading {
    font-weight: bold;
    font-size: 24px;
    color: #000;
}

.text-title {
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.text-title2 {
    font-weight: bold;
    font-size: 15px;
    color: #000;
}
