.content {
    position: absolute;
    top: 48px;
    left: 220px;
    width: calc(100% - 220px);
    /* width: 100%; */
    height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background-color: #fff;
}

.content--collapse {
    left: 50px;
    width: calc(100% - 50px);
}

/* Content header */

.content .content-header {
    display: flex;
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: space-between;
}

.content .content-header .content-title-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* filter bar */

.content .filter-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.content .filter-bar .filter-area {
    display: flex;
}

.content .filter-bar .btn-action-area {
    display: flex;
}

.content .filter-bar .btn-action-area .btn-action {
    margin-left: 8px;
}


/* input field */

.content .filter-bar .search-field {
    width: 300px;
}

/* filter dropdown */

.content .filter-bar .filter {
    width: 300px;
    margin-left: 16px;
}

.content .filter-bar .delete {
    padding: 0;
    width: 48px;
}
