.content {
    position: absolute;
    top: 48px;
    left: 220px;
    width: calc(100% - 220px);
    /* width: 100%; */
    height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background-color: #fff;
}

.content--collapse {
    left: 50px;
    width: calc(100% - 50px);
}

/* Content header */

.content-header {
    display: flex;
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: space-between;
}

.content-header .content-title-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* filter bar */

.filter-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.filter-bar .filter-area {
    display: flex;
}

.filter-bar .btn-action-area {
    display: flex;
}

.filter-bar .btn-action-area .btn-action {
    margin-left: 8px;
}


/* input field */

.filter-bar .search-field {
    width: 300px;
}

/* filter dropdown */

.filter-bar .filter {
    width: 300px;
    margin-left: 16px;
}

.filter-bar .refresh {
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.filter-bar .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 48px;
}

/* grid CSS */
.grid {
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 16px;
    margin: 16px;
}

.grid::-webkit-scrollbar-track {
    margin-top: 48px;
}

.grid table {
    width: 100%;
    table-layout: fixed;
    overflow: auto;
}

.grid th,td {
    border-bottom: 1px solid #dddddd;
    height: 48px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    text-align: left;
    cursor: pointer;
}

.grid th:hover {
    padding-bottom: 5px;
}

.grid td {
    color: #222222;
    font-family: GoogleSans-Light;
}

.grid .text-align-center {
    text-align: center;
}

.grid .text-align-right {
    text-align: right;
    padding-right: 20px;
}

.grid tr:nth-child(even) {
    background-color: #E9EBEE;
}

.grid table tr.selected {
    background-color: #EBF9F4;
}

.grid .check-box {
    text-align: center;
    position: relative;
}

.grid .check-box input {
    position: absolute;
    top: 11px;
    left: 14px;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}

.grid .custom-checkbox {
    position: absolute;
    top: 14px;
    left: 18px;
    width: 20px;
    height: 20px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.grid .custom-checkbox i {
    position: absolute;
    top: 1px;
    left: 2px;
    display: none;
    color: #fff;
}

.grid .custom-checkbox--selected {
    background-color: #01B075;
    border: 0;
}

.grid .custom-checkbox--selected i {
    display: block;
}

/*
*   CSS Paging bar
*
*/

.paging-bar {
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;
}

.paging-bar .paging-center {
    display: flex;
}

.paging-bar .paging-center .paging-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 25px;
    margin: 0 8px;
    cursor: pointer;
}

.paging-bar .paging-center .paging-control {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.paging-bar .paging-center .paging-number {
    background-color: #dddddd;
    border: 1px solid #cccccc;
}

.paging-bar .paging-center .paging-number:hover {
    background-color: white;
}

.paging-bar .paging-center .paging-number--active {
    background-color: #01B075;
    color: white;
    border: 0;
}

.paging-bar .paging-center .paging-number--active:hover {
    background-color: #01B075;
    color: white;
    border: 0;
}