.navbar {
    float: left;
    width: 221px;
    height: calc(100vh - 48px);
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.navbar .navbar-content {
    width: 100%;
}

.navbar .navbar-content .nav-item {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .navbar-content #overview .nav-item-icon {
    background-image: url('../../assets/icon/dashboard.png')
}

.navbar .navbar-content #report .nav-item-icon {
    background-image: url('../../assets/icon/report.png')
}

.navbar .navbar-content #shop .nav-item-icon {
    background-image: url('../../assets/icon/dashboard.png')
}

.navbar .navbar-content #customer .nav-item-icon {
    background-image: url('../../assets/icon/dic-employee.png')
}

.navbar .navbar-content #employee .nav-item-icon {
    background-image: url('../../assets/icon/dic-employee.png')
}

.navbar .navbar-content #setting .nav-item-icon {
    background-image: url('../../assets/icon/setting.png')
}

.navbar .navbar-content .nav-item:hover {
    background-color: #BBBBBB;
}

.navbar .navbar-content .nav-item-icon {
    margin: 12px 10px 12px 16px;
    height: 24px;
    width: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar .navbar-content .nav-item.router-link-exact-active {
    background-color: #019160;
    color: #fff;
}

.navbar .navbar-content .nav-item.router-link-exact-active .nav-item-icon {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(344deg) brightness(104%) contrast(101%);
}

